FAL_KEY=
REPLICATE_API_KEY=
REPLICATE_DESTINATION=theojcw-source/styleforge-loras
FAL_COMFY_ENDPOINT=
FACE_RESTORE=false
COMFY_LOCAL_URL=http://127.0.0.1:8000
COMFY_POSITIVE_PROMPT_NODE=6
COMFY_NEGATIVE_PROMPT_NODE=7
COMFY_LATENT_NODE=5
COMFY_SAMPLER_NODE=13
COMFY_STEPS_NODE=22
COMFY_UPSCALE_NODE=3
RENDERER_URL=
STYLEFORGE_RENDERER_BIN=
